<!DOCTYPE html>
<html>
<head>
  <title>Your Cart</title>
  <style type="text/css">
    body {
/*      background-color: grey;*/
/*      background: linear-gradient(to bottom, cyan, white);*/
      margin-top: 70px;
      font-family: Arial, sans-serif;
    }

    .cart-container {
      background: linear-gradient(to top, white, cyan);
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
      background-color: #ffffff;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    .cart-item {
      background: linear-gradient(to left, cyan, white);
      display: flex;
      align-items: center;
      border: 1px solid #ccc;
      margin-bottom: 20px;
      padding: 15px;
      border-radius: 5px;
/*      background-color: #ffffff;*/
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    }

    .cart-item img {
      width: 100px;
      height: 100px;
      margin-right: 20px;
    }

    .cart-item-details {
      flex-grow: 1;
    }

    .cart-item-name {
      font-size: 18px;
      margin: 0 0 10px;
      color: #333333;
    }

    .cart-item-quantity {
      font-size: 16px;
      margin: 0 0 10px;
    }

    .cart-item-price {
      font-size: 18px;
    }

    .cart-total {
      font-size: 18px;
      text-align: center;
      margin-top: 20px;
      color: #333333;
    }

    .cart-actions {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;
    }

    .cart-actions a {
      color: #007bff;
      text-decoration: none;
    }

    .cart-actions button {
      margin-left: auto;
    }

    .quantity-controls {
      display: flex;
      align-items: center;
    }

    .quantity-controls button {
      margin: 0 5px;
      padding: 5px 10px;
      border: none;
      background-color: #007bff;
      color: #ffffff;
      cursor: pointer;
      border-radius: 3px;
      transition: background-color 0.2s;
    }

    .quantity-controls button:hover {
      background-color: #0056b3;
    }

    .remove-button {
      background-color: #dc3545;
      transition: background-color 0.2s;
    }

    .remove-button:hover {
      background-color: #c82333;
    }

    .order-link {
  border: 1px solid #000000;
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
  margin-right: 10px;
}

.continue-shopping-link {
  align-items: center;
  border: 1px solid #000000;
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
  margin-top: 10px;
}

  </style>
</head>
<body>
  <h1>Your Cart</h1>

  <div class="cart-container">
    <% total_price = 0 %>
    <% if @cart_items.present? %>
    <% @cart_items.each do |cart_item| %>
      <div class="cart-item">
        <div class="cart-item-details">
          <h3 class="cart-item-name"><%= cart_item.product.name %></h3>
          <%if cart_item.product.image.present?%>
          <%= image_tag cart_item.product.image, alt: cart_item.product.name %>
          <%end%>
          <div class="quantity-controls">
            <%= button_to "-", decrease_quantity_cart_path(cart_item_id: cart_item.id), method: :post, class: "btn btn-secondary" %>
            <p class="cart-item-quantity">Quantity: <%= cart_item.quantity %></p>
            <%= button_to "+", increase_quantity_cart_path(cart_item_id: cart_item.id), method: :post, class: "btn btn-secondary" %>
          </div>
          <p class="cart-item-price">Price: ₹<%= cart_item.product.price * cart_item.quantity %></p>
        </div>
        <div class="cart-item-buttons">
          <%= button_to "Remove from Cart", remove_from_cart_cart_path(cart_item_id: cart_item.id), method: :delete, class: "btn btn-danger" %>
        </div>
      </div>
      <% total_price += cart_item.product.price * cart_item.quantity %>
    <% end %>
    <div class="coupon-container" id="couponContainer">
          <% if @coupon_discount_percentage.blank? %>
            <!-- Display text message and Apply Coupon button -->
            <p class="coupon-label" onclick="showCouponInput()">Have a coupon? Apply Coupon</p>
            <div class="coupon-input" id="couponInput">
               <%#byebug %>
              <%= form_with(url: check_cart_coupon_path(current_user.cart.id), method: :post, local: true) do |form| %>
                <%= hidden_field_tag 'order[coupon_discount_percentage]', @coupon_discount_percentage %>
                <%= form.text_field :coupon_code, id: 'coupon_code', placeholder: 'Enter coupon code' %>
                <%= form.submit 'Apply Coupon' %>
              <% end %>
              <span class="cancel-coupon" onclick="cancelCoupon()">Cancel</span>
            </div>
          <% end %>
          <div class="message" id="message">
          <% if @message.present? %>
            <p class="cart-total"><%=@message%></p>
          <% end %>
        </div>
  </div>
    <p class="cart-total">
    <% discounted_price = total_price %>
    <% if @coupon_discount_percentage %> 
      <%@coupon_code = Coupon.find_by(code: params[:coupon_code])&.validity_time%>
      <%end_of_day = @coupon_code%>
      <%#end_of_day = Time.current.end_of_day - 0.5.hours%>
        <%time_remaining = end_of_day - (Time.current + 7.50.hours)%>
        <% discounted_price = calculate_discounted_price(total_price, @coupon_discount_percentage)%>
        <strong><del>₹<%= total_price%> + 18% GST = ₹<%=total_price + (total_price*0.18) %></del></br>Buy Now All At  ₹<%= discounted_price %> + 18%GST = ₹<%= (discounted_price + discounted_price*0.18).round(2) %></strong>
        <%if format_time_duration(time_remaining).to_i > 1%>
        </br><strong>Hurry up! coupon valid only for <span id="timer"><%= format_time_duration(time_remaining) %></span></strong>
        <%end%>
    <%else%>
    <%end_of_day = Time.current.end_of_day%>
       <%time_remaining = end_of_day - (Time.current + 5.50.hours)%>
      Hurry up! Buy within: <span id="timer"><%= format_time_duration(time_remaining) %></span></br>
      To Get All Products At ₹<%=(discounted_price*0.02).round%> off: <del>₹<%= total_price %></del>
       ₹<%= discounted_price - (discounted_price*0.02).round %> + 18%GST = ₹<%= discounted_price + discounted_price*0.18 -(discounted_price*0.02).round %>
    <% end %>
    </p>
    <% if @coupon_discount_percentage.present? %>
      <p class="remove-coupon" onclick="removeCoupon()">Remove Coupon</p>
    <% end %>
 
    <div class="cart-actions">
      <% if current_user.orders.any? %>
  <div class="order-link">
    <%= link_to "View Placed Order", order_path(current_user.orders.last), class: "nav-link", style: "color: #000000; font-family: Trebuchet MS; font-size: 20px; text-decoration: none;", "text-decoration": "none" %>
  </div>
<% end %>
    <center><button id="checkout-button" class="btn btn-danger">Place Order</button></center>
    <%#= button_to "Place Order", place_order_cart_path, method: :post, class: "btn btn-primary" %>
    <div class="order-link">
    <%= link_to "Continue Shopping", root_path, class: "nav-link", style: "color: #000000; font-family: Trebuchet MS; font-size: 20px; text-decoration: none;", "text-decoration": "none" %>
	</div>
    </div>
    <% else %>
     <center><p style="color: black; font-family: Trebuchet MS; font-size: 25px; margin-bottom: 40px;">Your Cart is Empty</p>
     <div class="order-link">
     <%= link_to "Continue Shopping", root_path, class: "nav-link", style: "color: #000000; font-family: Trebuchet MS; font-size: 20px; text-decoration: none;", "text-decoration": "none" %>
     </center>
 	</div>
    <% end %>
    
</body>
<script src="https://js.stripe.com/v3/"></script>
<script>
  function showCouponInput() {
      document.querySelector('.coupon-label').style.display = 'none';
      document.getElementById('couponInput').style.display = 'block';
      document.querySelector('.cancel-coupon').style.display = 'inline';
    }

    function cancelCoupon() {
      document.querySelector('.coupon-label').style.display = 'block';
      document.getElementById('couponInput').style.display = 'none';
      document.querySelector('.cancel-coupon').style.display = 'none';
    }

function removeCoupon() {
  // Implement logic to remove the coupon and display the original price
  var priceDetailsElement = document.getElementById('priceDetails');
  var couponContainerElement = document.getElementById('couponContainer');
  var messageElement = document.getElementById('message');

  if (priceDetailsElement) {
    priceDetailsElement.innerHTML = '<p><strong>Price:</strong> ₹<%= @total_price %></p>';
  }

  if (couponContainerElement) {
    couponContainerElement.innerHTML = '<p class="coupon-label" onclick="showCouponInput()">Have a coupon? Apply Coupon</p><div class="coupon-input" id="couponInput"><%= form_with(url: check_cart_coupon_path(@cart.id), method: :post, local: true) do |form| %><%= hidden_field_tag 'order[coupon_discount_percentage]', @coupon_discount_percentage %><%= form.text_field :coupon_code, id: 'coupon_code', placeholder: 'Enter coupon code' %><%= form.submit 'Apply Coupon' %><% end %><span class="cancel-coupon" onclick="cancelCoupon()">Cancel</span></div>';
  }

  if (messageElement) {
    messageElement.innerHTML = '';
  }

  // Redirect to the same page without coupon parameters
  window.location.href = window.location.pathname;
}


  var stripe = Stripe('pk_test_51OERGBSDBGNNOPnKA24JYeFxkvCflnLs1NvE6p8FKYHXq3xp6jBaobG8gXcyPKrO0fTrilYQ9TuOyTKNrYZ0EdNa00ABisvmlU');
  var checkoutButton = document.getElementById('checkout-button');
  var csrfToken = document.querySelector("meta[name=csrf-token]").content;
  var couponDiscountPercentage = <%= @coupon_discount_percentage || 'null' %>;
  var finalPrice = <%= total_price || "null" %>;

  checkoutButton.addEventListener('click', function () {
    fetch('<%= place_order_cart_path %>', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRF-Token': csrfToken 
      },
      body: JSON.stringify({
        coupon_discount_percentage: couponDiscountPercentage,
        total_price: finalPrice
      })
    })
    .then(response => response.json())
    .then(session => {
      return stripe.redirectToCheckout({ sessionId: session.id });
    })
    .then(result => {
      if (result.error) {
        alert(result.error.message);
      }
    })
    .catch(error => {
      console.error('Error:', error);
    });
  });


   function updateTimer() {
    var currentTime = new Date();
    var endOfDay = new Date('<%= end_of_day.strftime('%Y-%m-%dT%H:%M:%S') %>'); // Use Rails datetime format
    var timeRemaining = endOfDay - currentTime;

    // Update the timer display
    var hours = Math.floor(timeRemaining / (60 * 60 * 1000));
    var minutes = Math.floor((timeRemaining % (60 * 60 * 1000)) / (60 * 1000));
    var seconds = Math.floor((timeRemaining % (60 * 1000)) / 1000);

    document.getElementById('timer').innerText = 
      ("0" + hours).slice(-2) + ":" +
      ("0" + minutes).slice(-2) + ":" +
      ("0" + seconds).slice(-2);
  }

  // Initial update and set interval for periodic updates
  updateTimer();
  setInterval(updateTimer, 1000); // Update every second
</script>
</html>
